{%- assign xcode = include.xcode -%}
  
{%- assign betaLabel = "" -%}
{%- assign idQualifier = "" -%}
{%- if xcode.version.release.gmSeed -%}
  {%- assign betaLabel = "GM Seed " | append: xcode.version.release.gmSeed -%}
  {%- assign idQualifier = "gm-seed-" | append: xcode.version.release.gmSeed -%}
{%- elsif xcode.version.release.release -%}
  {%- assign betaLabel = "Release" -%}
  {%- assign idQualifier = "release" -%}
{%- elsif xcode.version.release.rc -%}
  {%- assign betaLabel = "RC " | append: xcode.version.release.rc -%}
  {%- assign idQualifier = "rc-" | append: xcode.version.release.rc -%}
{%- elsif xcode.version.release.beta -%}
  {%- assign betaLabel = "Beta " | append: xcode.version.release.beta -%}
  {%- assign idQualifier = "beta-" | append: xcode.version.release.beta -%}
{%- elsif xcode.version.release.dp -%}
  {%- assign betaLabel = "DP " | append: xcode.version.release.dp -%}
  {%- assign idQualifier = "dp-" | append: xcode.version.release.dp -%}
{%- else -%}
  {%- assign betaLabel = "GM" -%}
  {%- assign idQualifier = "gm" -%}
{%- endif -%}

{%- capture displayName -%}{{ xcode.name }} {{ xcode.version.number }} {{ betaLabel }}{%- endcapture -%}
{%- capture date -%}{{ xcode.date.year }}-{{ xcode.date.month }}-{{ xcode.date.day }}{%- endcapture -%}
{%- assign xcodeid = "xcode-" | append: idQualifier | append: "-" | append: xcode.version.build | append: "-" | append: date -%}

{%- assign months = ",Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec" | split: ',' -%}

{%- capture description -%}
<p>{{ xcode.name }} {{ xcode.version.number }} {{ betaLabel }} was released on {{ xcode.date.day }} {{ months[xcode.date.month] }} {{ xcode.date.year }} and requires macOS {{ xcode.requires }}+.</p>
{%- if xcode.links.download.url -%}
	<p>It can be downloaded from <a href="{{ xcode.links.download.url }}">{{ xcode.links.download.url }}</a>.</p>
{%- endif -%}
{%- if xcode.links.notes.url -%}
	<p>Release notes are located at <a href="{{ xcode.links.notes.url }}">{{ xcode.links.notes.url }}</a>.</p>
{%- endif -%}
{%- if xcode.sdks -%}
	<p>The SDKs it contains are:
	<ul>
	{%- for sdk in xcode.sdks.iOS -%}
		{%- assign label = "" -%}
		{%- if sdk.number and sdk.build -%}
			{%- assign label = sdk.number | append: " (Build " | append: sdk.build | append: ")" -%}
		{%- elsif sdk.number -%}
			{%- assign label = sdk.number -%}
		{%- elsif sdk.build -%}
			{%- assign label = sdk.build -%}
		{%- endif -%}
		<li>iOS {{ label }}</li>
	{%- endfor -%}
	{%- for sdk in xcode.sdks.macOS -%}
		{%- assign label = "" -%}
		{%- if sdk.number and sdk.build -%}
			{%- assign label = sdk.number | append: " (Build " | append: sdk.build | append: ")" -%}
		{%- elsif sdk.number -%}
			{%- assign label = sdk.number -%}
		{%- elsif sdk.build -%}
			{%- assign label = sdk.build -%}
		{%- endif -%}
		<li>macOS {{ label }}</li>
	{%- endfor -%}
	{%- for sdk in xcode.sdks.tvOS -%}
		{%- assign label = "" -%}
		{%- if sdk.number and sdk.build -%}
			{%- assign label = sdk.number | append: " (Build " | append: sdk.build | append: ")" -%}
		{%- elsif sdk.number -%}
			{%- assign label = sdk.number -%}
		{%- elsif sdk.build -%}
			{%- assign label = sdk.build -%}
		{%- endif -%}
		<li>tvOS {{ label }}</li>
	{%- endfor -%}
	{%- for sdk in xcode.sdks.watchOS -%}
		{%- assign label = "" -%}
		{%- if sdk.number and sdk.build -%}
			{%- assign label = sdk.number | append: " (Build " | append: sdk.build | append: ")" -%}
		{%- elsif sdk.number -%}
			{%- assign label = sdk.number -%}
		{%- elsif sdk.build -%}
			{%- assign label = sdk.build -%}
		{%- endif -%}
		<li>watchOS {{ label }}</li>
	{%- endfor -%}
	{%- for sdk in xcode.sdks.visionOS -%}
		{%- assign label = "" -%}
		{%- if sdk.number and sdk.build -%}
			{%- assign label = sdk.number | append: " (Build " | append: sdk.build | append: ")" -%}
		{%- elsif sdk.number -%}
			{%- assign label = sdk.number -%}
		{%- elsif sdk.build -%}
			{%- assign label = sdk.build -%}
		{%- endif -%}
		<li>visionOS {{ label }}</li>
	{%- endfor -%}
	</ul>
	</p>
{%- endif -%}
{%- if xcode.compilers -%}
	<p> The compilers it contains are:
	<ul>
	{%- for compiler in xcode.compilers.clang -%}
		<li>clang {{ compiler.number }} (Build {{ compiler.build }})</li>
	{%- endfor -%}
	{%- for compiler in xcode.compilers.swift -%}
		<li>swift {{ compiler.number }} (Build {{ compiler.build }})</li>
	{%- endfor -%}
	{%- for compiler in xcode.compilers.llvm -%}
		<li>LLVM-GCC {{ compiler.number }} (Build {{ compiler.build }})</li>
	{%- endfor -%}
	{%- for compiler in xcode.compilers.gcc -%}
		<li>GCC {{ compiler.number }} (Build {{ compiler.build }})</li>
	{%- endfor -%}
	</ul>
	</p>
{%- endif -%}
{%- endcapture -%}

{%- capture pubDate -%}{{ months[xcode.date.month] }} {{ xcode.date.day }}, {{ xcode.date.year }}{%- endcapture -%}
 <item>
  <title>{{ displayName }}</title>
  <link>https://xcodereleases.com</link>
  <guid isPermaLink="false">https://xcodereleases.com/versions/{{ xcodeid }}</guid>
  <pubDate>{{ pubDate | date: "%a, %d %b %Y" }} 10:00:00 -0800</pubDate>
  <description>{{ description | xml_escape }}</description>
 </item>
 
