{% assign release = include.release %}

{% assign months = ",Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec" | split: ',' %}
{% assign class = "release" %}
{% if release.version.release.gm == nil and release.version.release.release == nil %}
  {% assign class = "beta" %}
{% endif %}
  
{% assign betaLabel = "" %}
{% if release.version.release.gmSeed %}
  {% assign betaLabel = "GM Seed " | append: release.version.release.gmSeed %}
{% elsif release.version.release.release %}
  {% assign betaLabel = "Release" %}
{% elsif release.version.release.rc %}
  {% assign betaLabel = "RC " | append: release.version.release.rc %}
{% elsif release.version.release.beta %}
  {% assign betaLabel = "Beta " | append: release.version.release.beta %}
{% elsif release.version.release.dp %}
  {% assign betaLabel = "DP " | append: release.version.release.dp %}
{% else %}
  {% assign betaLabel = "GM" %}
{% endif %}
<tr class="xcode {{ class }}">
  <td class="name">{{ release.name }} {{ release.version.number }}</td>
  <td class="release">{{ betaLabel }}</td>
  <td class="build">{{ release.version.build }}</td>
  <td class="date">{{ release.date.day }} {{ months[release.date.month] }} {{ release.date.year }}</td>
  <td class="requires">macOS {{ release.requires }}+</td>
  <td class="swift">
    <ul>
    {% include release_bullets.html releases=release.compilers.swift label="Swift" %}
    </ul>
  </td>
  <td class="sdk">
    <ul>
    {% include release_bullets.html releases=release.sdks.macOS label="macOS" %}
    {% include release_bullets.html releases=release.sdks.iOS label="iOS" %}
    {% include release_bullets.html releases=release.sdks.watchOS label="watchOS" %}
    {% include release_bullets.html releases=release.sdks.tvOS label="tvOS" %}
    </ul>
  </td>
  <td class="download">
  {% if release.links.download.url %}
    <a href="https://developer.apple.com/services-account/download?path={{ release.links.download.url | replace_first: "https://download.developer.apple.com", "" }}" alt="Download {{ release.name }} {{ release.version.number }} {{ betaLabel }}">Download</a>
  {% endif %}
  </td>
  <td class="release-notes">
  {% if release.links.notes.url %}
    <a href="{{ release.links.notes.url }}" alt="{{ release.name }} {{ release.version.number }} {{ betaLabel }} Release Notes">Release Notes</a>
  {% endif %}
  </td>
</tr>
