{% assign release = include.release %}
{% assign counter = include.counter %}

{% assign months = ",Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec" | split: ',' %}
{% assign class = "gm" %}
{% if release.version.release.gm == nil %}
  {% assign class = "beta" %}
{% endif %}
  
{% assign betaLabel = "" %}
{% if release.version.release.gmSeed %}
  {% assign betaLabel = "GM Seed " | append: release.version.release.gmSeed %}
{% elsif release.version.release.beta %}
  {% assign betaLabel = "Beta " | append: release.version.release.beta %}
{% elsif release.version.release.dp %}
  {% assign betaLabel = "Developer Preview " | append: release.version.release.dp %}
{% else %}
  {% assign betaLabel = "GM" %}
{% endif %}

{% assign xcodeid = "xcode-" | append: release.version.build | append: "-" | append: release.requires %}
{% capture displayName %}{{ release.name }} {{ release.version.number }} {{ betaLabel }}{% endcapture %}

<div class="xcode {{ class }}" id="{{ xcodeid }}" onclick="toggleDetails('{{ xcodeid }}')">
  <div class="summary column-wrapper">
    <div class="name column">{{ displayName }}</div>
    <div class="requires column centered">macOS {{ release.requires }}</div>
    <div class="date column centered">{{ release.date.day }} {{ months[release.date.month] }} {{ release.date.year }}</div>
    <div class="download column centered">
      {% if release.links.download.url %}
        {% assign components = release.links.download.url | split: "/" %}
        <a href="{{ release.links.download.url }}" alt="Download {{ displayName }}">{{ components.last }}</a>
      {% else %}
        (none)
      {% endif %}
    </div>
    <div class="notes column centered">
      {% if release.links.notes.url %}
        <a href="{{ release.links.notes.url }}" alt="{{ displayName }} Release Notes">View</a>
      {% else %}
        (none)
      {% endif %}
    </div>
  </div>
  <div class="details" id="details-{{ xcodeid }}">
    <div class="column-wrapper">
      <div class="build column">Build<br />{{ release.version.build }}</div>
      <div class="sdks column">SDKs: 
        <ul>
          {% for sdk in release.sdks.macOS %}
            <li>macOS {{ sdk.build }}</li>
          {% endfor %}
          {% for sdk in release.sdks.iOS %}
            <li>iOS {{ sdk.build }}</li>
          {% endfor %}
          {% for sdk in release.sdks.watchOS %}
            <li>watchOS {{ sdk.build }}</li>
          {% endfor %}
          {% for sdk in release.sdks.tvOS %}
            <li>tvOS {{ sdk.build }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="compilers column">Compilers: 
        <ul>
          {% for info in release.compilers.swift %}
            <li>Swift {{ info.number }} ({{ info.build }})</li>
          {% endfor %}
          {% for info in release.compilers.clang %}
            <li>Clang {{ info.number }} ({{ info.build }})</li>
          {% endfor %}
          {% for info in release.compilers.llvm_gcc %}
            <li>LLVM-GCC {{ info.number }} ({{ info.build }})</li>
          {% endfor %}
          {% for info in release.compilers.gcc %}
            <li>GCC {{ info.number }} ({{ info.build }})</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
