---
---

@import "{{ site.theme }}";

.inner {
  width: 75%;
}

#downloads {
  display: none; 
}

header, footer {
  text-align: center;
  background: none;
}

#donate {
  text-align: center;
}

.inner li, .inner ul {
  list-style: none;
}

.gm .name, .header {
  font-weight: bold;
}

.align-center { text-align: center; }
.align-left { text-align: left; }
.align-right { text-align: right; }

.monospace {
  font-family: "Lucida Console", Monaco, monospace;
}

div.xcode .details, {
  display: none;
  border-top: 1px solid #eee;
  width: 100%;
}

div.xcode {
  width: 100%;
  text-align: left;
  border: 1px solid #eee;
}

.column-wrapper {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.column {
  display: table-cell;
  padding: 10px;
}

div.xcode .summary {
}

#filter-text {
  
}

#search-beta {
  text-align: center;
  margin: 0 auto;
}

.segmented {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  text-align: center;
  margin: .2em;
}

.segmented input {
  display: none;
}

.segmented label {
  display: block;
  flex: 1;
  box-sizing: border-box;
  border-right: 1px solid #167efb;
  color: #167efb;
  padding: .2em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  border: 1px solid #167efb;
  border-right: 0px;
}

.segmented label:nth-child(2) {
  border-radius: .4em 0 0 .4em;
}

.segmented label:last-child {
  border-radius: 0 .4em .4em 0;
  border-right: 1px solid #167efb;
}

.segmented input:checked + label {
  background: #167efb;
  color: #fff;
  text-shadow: 0 0 0;
}

/*
#search-beta input[name="filter-release"] {
  visibility: hidden;
  display: none;
}

#search-beta label {
  cursor: pointer;
}

#search-beta input[name="filter-release"]:checked + label {
  background: #2196F3;
}
*/

