---
---

@import "{{ site.theme }}";

.inner {
  width: 75%;
  text-align: center;
}

#downloads {
  display: none; 
}

header, footer {
  text-align: center;
  background: none;
}

#donate {
  text-align: center;
}

.inner li, .inner ul {
  list-style: none;
}

.gm .name {
  font-weight: bold;
}

.xcode .details, .xcode .row-toggle {
  display: none;
}

div.xcode {
  width: 100%;
  text-align: left;
  border: 1px solid #eee;
  padding: 10px;
}
